<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="namespace" default="null" />
    <arg name="enable_odom_tf" default="true" />
    <arg name="urg" default="false" />
    <arg name="lidar_frame" default="laser" />

    <!-- to avoid empty ns problem https://github.com/ros/ros_comm/issues/360 -->

    <group if="$(eval arg('namespace') == 'null')">
        <include file="$(find raspimouse_control)/launch/include/raspimouse_control.launch.xml">
            <arg name="enable_odom_tf" value="$(arg enable_odom_tf)" />
            <arg name="urg" value="$(arg urg)" />
            <arg name="lidar_frame" value="$(arg lidar_frame)" />
        </include>
    </group>
    <group unless="$(eval arg('namespace') == 'null')" ns="$(arg namespace)">
        <include file="$(find raspimouse_control)/launch/include/raspimouse_control.launch.xml">
            <arg name="enable_odom_tf" value="$(arg enable_odom_tf)" />
            <arg name="urg" value="$(arg urg)" />
            <arg name="lidar_frame" value="$(arg lidar_frame)" />
        </include>
    </group>
</launch>
