<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="namespace" default="null" />
    <arg name="enable_odom_tf" default="true" />
    <arg name="urg" default="false" />
    <arg name="lidar_frame" default="laser" />

    <!-- raspimouse control nodes -->
    <include file="$(find raspimouse_control)/launch/control.launch">
        <arg name="namespace" default="$(arg namespace)" />
        <arg name="enable_odom_tf" value="$(arg enable_odom_tf)" />
        <arg name="urg" value="$(arg urg)" />
        <arg name="lidar_frame" value="$(lidar_frame)" />
    </include>

    <!-- raspimouse urdf description -->
    <include file="$(find raspimouse_description)/launch/display_xacro.launch">
        <arg name="use_rviz" value="false" />
        <arg name="urg" value="$(arg urg)" />
        <arg name="lidar_frame" value="$(arg lidar_frame)" />
    </include>

    <!-- remap using twist_mux and relay -->
    <!-- https://github.com/ros-controls/ros_controllers/issues/126 -->
    <node name="cmd_vel_twist_mux" pkg="twist_mux" type="twist_mux">
        <rosparam command="load" file="$(find raspimouse_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="$(arg diff_drive_controller)/cmd_vel" />
    </node>
    <node name="relay_odom" pkg="topic_tools" type="relay" args="$(arg diff_drive_controller)/odom odom" />
</launch>
